# Rediriger HTTP vers HTTPS
http://localhost {
    redir https://localhost{uri} 301
}

localhost:443 {
    # Activer un certificat auto-signé pour localhost
    tls internal

    # Servir le frontend Vue.js
    root * /client
    file_server
    encode gzip

    # Proxy pour le backend Django
    reverse_proxy /api/* /server:8000
}