# Rediriger HTTP vers HTTPS
http://localhost {
    redir https://localhost{uri} 301
}

# Configuration du serveur frontend (Vue.js) pour https
https://localhost {
    root * /client
    file_server
    encode gzip

    # Certificat SSL (Caddy gère Let's Encrypt automatiquement)
    tls youremail@example.com
}

# Configuration du serveur backend (Django) pour https
https://localhost {
    reverse_proxy /api/* server:8000
    header {
        X-Real-IP {remote}
        X-Forwarded-For {remote}
        X-Forwarded-Proto {scheme}
    }

    # Certificat SSL (Caddy gère Let's Encrypt automatiquement)
    tls youremail@example.com
}
